@page
@model giantbombTest.Pages.AddGameModel
@{
    ViewData["Title"] = "AddGame";
}


@{var game = Model.Game; }
<h1>@game.Name</h1>
<p>Released: @game.ExpectedReleaseYear</p>
<p>@game.Publishers[0].Name</p>
<h2>About</h2>
<p>
    @game.Deck
</p>

<p>Select platform:</p>
<form method="post">
    <input type="hidden" value="@Model.Game.Id" asp-for="GameItem.GbID" />
    <input type="hidden" value="@DateTime.Today" asp-for="GameItem.DateAdded" />
    <input type="hidden" value="@Model.Game.Name" asp-for="GameItem.Name" />
    @foreach (var plat in game.Platforms)
    {
        <div>
            <input type="radio" value=@plat.Name asp-for="GameItem.Platform">
            <label>@plat.Name</label>
        </div>
    }
    <input type="submit" value="Add Game" />
</form>