@page
@model giantbombTest.Pages.AddGameModel
@{
    ViewData["Title"] = "AddGame";
}


@{var game = Model.Game; }
<h1>@game.Name</h1>
<p>Released: @game.ExpectedReleaseYear</p>
<p>@game.Publishers[0].Name</p>
<h2>About</h2>
<p>
    @game.Deck
</p>
<p>Platforms: </p>
<ul>
    @foreach (var plat in game.Platforms)
    {
        <li>@plat.Name</li>
    }
</ul>


<p>Select platform:</p>
<form method="post">
    <input type="hidden" value="@Model.Game.Id" asp-for="GameItem.GbID" />
    <input type="hidden" value="@DateTime.Today" asp-for="GameItem.DateAdded" />
    <input type="hidden" value="@Model.Game.Name" asp-for="GameItem.Name" />
    @foreach (var plat in game.Platforms)
    {
        <div>
            <input type="radio" value=@plat.Id asp-for="GameItem.PlatformGbID" name="platform">
            <label for=@plat.Id>@plat.Name</label>
        </div>
    }
    <input type="submit" value="Submit" />
</form>