@page
@model giantbombTest.Pages.ViewGameModel
@{
    ViewData["Title"] = "ViewGame";
}

@{var game = Model.Game;}

<h1>@game.Name</h1>
<p>Released: @game.ExpectedReleaseYear</p>
<p>@game.Publishers[0].Name</p>
<h2>About</h2>
<p>
    @game.Deck
</p>
<p>Platform: @Model.GameItem.Platform</p>
<p>Date Added: @Model.GameItem.DateAdded.Date</p>

<form method="post">
    <input type="hidden" asp-for="GameItem.ID" />
    <input type="submit" value="Delete"/>
    <a asp-page="./Index">Back to List</a>
</form>
