@page
@model giantbombTest.Pages.ViewGameModel
@{
    ViewData["Title"] = "ViewGame";
}

@{var game = Model.Game;}

<h1>@game.Name</h1>
<p>Released: @game.ExpectedReleaseYear</p>
<p>@game.Publishers[0].Name</p>
<h2>About</h2>
<p>
    @game.Deck
</p>
<p>Platforms: </p>
<ul>
    @foreach (var plat in game.Platforms)
    {
        <li>@plat.Name</li>
    }
</ul>
